<!DOCTYPE html>
<html>
<head>
    <title>Dan-Bot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>

    <div>
        <header>
          <h1>Welcome to Dan-Bot</h1>
          <h4>Your one stop destination for all your needs</h4>
        </header>
        <div class="avatar">
          <img src="https://user-images.githubusercontent.com/45920948/85214157-80a84d80-b35f-11ea-9b87-631cf0d66110.png"  height="210" width="220">
        </div>
        <div class="boxed">
            <div>
                <div id="chatbox">
                    <p class="botText">
                        <span>Hi! I'm Dan-Bot your personal ChatBot</span>
                    </p>
                </div>
                <div id="userInput">
                    <input id="textInput" type="text" name="msg" placeholder="Message" />
                </div>
            </div>
            <script>
                function getBotResponse() {
                    var rawText = $("#textInput").val();
                    var userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
                    $("#textInput").val("");
                    $("#chatbox").append(userHtml);
                    document
                        .getElementById("userInput")
                        .scrollIntoView({ block: "start", behavior: "smooth" });
                    $.get("/get", { msg: rawText }).done(function (data) {
                        var botHtml = '<p class="botText"><span>' + data + "</span></p>";
                        $("#chatbox").append(botHtml);
                        document
                            .getElementById("userInput")
                            .scrollIntoView({ block: "start", behavior: "smooth" });
                    });
                }
                $("#textInput").keypress(function (e) {
                    if (e.which == 13) {
                        getBotResponse();
                    }
                });
            </script>
        </div>
    </div>
</body>
</html>